<div class="artist_profile">
  <div class="row-xs-3">
    <h3>{{model.artist.artist.name}}</h3>
    <h5> Endorsements: {{model.artist.artist.endorsement}}</h5>
    <button onclick={{action 'endorseArtist' model.artist.artist.id model.artist.artist.endorsement}}>Endorse Artist</button>
    <br />
    <br />
    <h5> Age: {{model.artist.artist.age}}</h5>
    <h5> Biography: {{model.artist.artist.biography}}</h5>
    <br />
  </div>
  <div class="row-xs-9">
    {{#if model.artist.pieces}}
      <h4>Pieces:</h4>
      <div name="artist_pieces">
        {{#each model.artist.pieces as |piece|}}
          <div class=row style='height: 200px;' >
            <img id ="artist_images" style='height: 80%; width: 80%; margin:auto;' src= "{{piece.photo_url}}" >
            <br />
            {{piece.title}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <br />
      This artist currently has no pieces displayed.
    {{/if}}
  </div>
</div>

{{outlet}}
